@media(max-width: 1400px) {
    .three-col-number-card-section .how-it-work-wrapper {
        margin: 0 -15px;
    }
}





@media (max-width: 991px) {
    .header-main .main-nav-menu {
        justify-content: left;
    }

    .header-main .main-nav-menu ul.nav-menu-wrapper li {
        padding: 0 10px;
    }

    .header-main .btn {
        padding: 10px 12px;
    }

    .banner-section {
        padding: 175px 0 120px;
    }

    .banner-section .banner-content-block P {
        font-size: 20px;
        line-height: 30px;
    }

    .about-company-section {
        padding: 0 0 80px;
    }

    .about-company-section .about-image-block {
        width: calc(50% - 25px);
        margin-right: 25px;
    }

    .about-company-section .about-content-block {
        width: calc(50% - 25px);
        margin-left: 25px;
    }

    .about-company-section .about-content-block h2 {
        margin: 0 0 50px;
    }
    .three-col-number-card-section .inner-number-content-block {
        width: calc(50% - 60px);
        margin: 0 30px 30px;
      }

}









/* Media Query for Mobile Devices */

@media (max-width: 767px) {
    .header-main .main-nav-menu {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        z-index: 2;
    }

    header.header-main {
        padding: 15px 0;
    }

    .header-main .toggle-button {
        display: block;
        font-size: 25px;
        background: linear-gradient(60.69deg, #0194FE -1.41%, #5CD3E9 73.65%);
        border-radius: 50%;
        padding: 15px;
        width: 50px;
        height: 50px;
        line-height: 20px;
        text-align: center;

    }

    .header-main .main-nav-menu.show {
        display: block;
        width: 100%;
        padding: 20px;
        background: #FFF;
        height: 100vh;
        overflow-y: scroll;
    }

    .header-main .header-buttons {
        flex-direction: column;
        margin-top: 10px;
        padding: 10px;
        width: fit-content;
    }

    .header-main .header-buttons .button-container {
        display: flex;
        /* flex-direction: column; */
        /* width: 100%; */
        /* justify-content: space-between; */
    }

    .header-main .main-nav-menu ul.nav-menu-wrapper {
        display: block;
    }

    .header-main .main-nav-menu ul.nav-menu-wrapper li {
        padding: 24px 0;
    }

    .header-main .main-nav-menu ul.nav-menu-wrapper li a {
        font-size: 24px;
        color: #01071B;
    }

    .header-main .header-logo {
        width: 50%;
    }

    .header-main .header-right-menu-cta {
        width: 100%;
        position: absolute;
    }

    .header-main .btn {
        font-size: 14px;
        color: #01071B;
    }

    .header-main #connectedButton.active {
        color: #FFF;
    }

    .header-main #connectWalletButton.active {
        color: #FFF;
    }

    .header-main .main-nav-menu ul.nav-menu-wrapper li a:hover {
        box-shadow: none;
        color: #01071B;
    }

    .banner-section .banner-content-block {
        width: 100%;
    }

    /* .banner-section .banner-content-block h1 {
        font-size: 40px;
    } */

    .banner-section .banner-content-block P {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
    }

    .banner-section {
        padding: 120px 0;
    }

    .banner-section .main-banner-wrapper {
        flex-direction: column-reverse;
    }

    .banner-section .banner-image-block {
        width: 100%;
        max-width: 185px;
        margin: 0 auto 30px;
    }

    /* About Company */
    .about-company-section {
        padding: 0 0 40px;
    }

    .about-company-section .about-image-block {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .about-company-section .about-content-block {
        width: 100%;
        margin-left: 0;
    }

    .about-company-section .about-content-block h2 {
        margin: 0 0 30px;
    }

    .about-company-section .about-content-block .inner-content-block p:last-child {
        font-size: 20px;
        line-height: 1.5;
    }


    .three-col-number-card-section .inner-number-content-block {
        width: 100%;
        margin: 0 0 30px;
    }

}