@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  outline: none;
}

/* Website background color and default font styles */
body {
  background: #000618;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
  background-image: url('../Images/Home.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}


.page-center {
  /* float: none !important; */
  max-width: 1171px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

}

a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

a:hover,
a:focus {
  color: #FFFFFF;
  outline: 0;

}

ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


.button {
  background: linear-gradient(65.84deg, #00C3FD 25.98%, #0194FE 65.48%);
  box-shadow: 0px 16px 30px #003861;
  border-radius: 23.5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  display: inline-block;
  padding: 15px 32px;
  border-image: linear-gradient(65.84deg, #00C3FD 25.98%, #0194FE 65.48%);
  border-image-slice: 1;
  cursor: pointer;
  /* Added */
  transition: background 0.3s, box-shadow 0.3s;
  /* Added */
}

.button:hover {
  background: linear-gradient(65.84deg, #0194FE 25.98%, #00C3FD 65.48%);
  box-shadow: 0px 12px 20px #003861;
  /* Slightly reduced shadow */
}

h1 {
  font-size: 100px;
  line-height: 174px;
}

h2 {
  font-size: 62px;
  line-height: 75px;
}

h3 {
  font-size: 52px;
  line-height: 63px;
}

h4 {
  font-size: 35px;
  line-height: 42px;
}

h5 {
  font-size: 24px;
  line-height: 29px;
}

h6 {
  font-size: 20px;
  line-height: 24px;
}



@media(max-width:991px) {
  h1 {
    font-size: 70px;
    line-height: 70px;
  }

  h2 {
    font-size: 50px;
    line-height: 60px;
  }

  h3 {
    font-size: 45px;
    line-height: 50px;
  }

}


@media(max-width:767px) {
  h1 {
    font-size: 50px;
    line-height: 50px;
  }

  h2 {
    font-size: 45px;
    line-height: 55px;
  }

  h3 {
    font-size: 40px;
    line-height: 50px;
  }

  h4 {
    font-size: 30px;
    line-height: 40px;
  }

  h5 {
    font-size: 20px;
    line-height: 25px;
  }

  h6 {
    font-size: 18px;
    line-height: 20px;
  }

}



.light-blue-circle {
  background: radial-gradient(525.96% 96.75% at 57.14% 50.65%, #00C3FD 0%, #0194FE 38.2%, #0194FE 100%);
  box-shadow: 0px 6px 30px #003861;
  border-radius: 50px;
  width: 64px;
  height: 64px;
  position: relative;
  margin: 0 0 30px;
}

.light-blue-circle:after {
  content: url('../Images/vector-light-blue.png');
  background-repeat: no-repeat;
  position: absolute;
  top: -27px;
  left: -12px;
}

.green-circle {
  background: linear-gradient(315deg, #20B18D 12.53%, #66E2A9 89.89%);
  box-shadow: 0px 6px 30px #003861;
  border-radius: 50px;
  width: 64px;
  height: 64px;
  position: relative;
  margin: 0 0 30px;
}

.green-circle:after {
  content: url('../Images/vector-green.png');
  background-repeat: no-repeat;
  position: absolute;
  top: -43px;
  left: -26px;
}



.dark-blue-circle {
  background: radial-gradient(984.89% 205.65% at -98.41% -58.25%, #00C3FD 0%, #0194FE 24.23%, #012B7F 78.95%);
  box-shadow: 0px 6px 30px #003861;
  border-radius: 50px;
  width: 64px;
  height: 64px;
  position: relative;
  margin: 0 0 30px;
}

.dark-blue-circle:after {
  content: url('../Images/vector-dark-blue.png');
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
  left: -25px;
}









/* -------------HEADER------------------- */

header.header-main {
  padding: 48px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;


}

.header-main .main-header-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header-main .header-logo {
  width: 20%;
}

.header-main .header-right-menu-cta {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: right;
}

.header-main .main-nav-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: right;
}

.header-main .main-nav-menu ul.nav-menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-main .main-nav-menu ul.nav-menu-wrapper li {
  padding: 0 24px;
}

.header-main .main-nav-menu ul.nav-menu-wrapper li a {
  color: #FFFFFF;
  opacity: 51%;
  font-size: 16px;
  font-weight: 400;

}

.header-main .main-nav-menu ul.nav-menu-wrapper li a:hover {
  color: #FFFFFF;
  opacity: 100%;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(65.84deg, #00C3FD 25.98%, #0194FE 65.48%);
  border-image-slice: 1;
  width: 100%;
  box-shadow: 0px 16px 30px #003861;
  border-radius: 24px;
  padding-bottom: 5px;
  /* Adjust this value as needed */
}

.header-main .button-container {
  display: flex;
  border: 2px solid #00C3FD;
  filter: drop-shadow(0px 16px 30px #014678);
  border-radius: 24px;
  overflow: hidden;
}

.header-main .btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}


.header-main .btn:hover {
  opacity: 0.85;
}

.header-main #connectedButton.active {
  background: linear-gradient(83.46deg, #00C3FD -13.99%, #0194FE 31.77%, #0284E2 73.27%);
  border-radius: 24px;
  box-shadow: 0px 16px 30px #014678;
}

.header-main #connectWalletButton.active {
  background: linear-gradient(83.46deg, #00C3FD -13.99%, #0194FE 31.77%, #0284E2 73.27%);
  border-radius: 24px;
  box-shadow: 0px 16px 30px #014678;

}

.header-main .header-right-menu-cta {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: right;
  position: relative;
}


.toggle-button {
  display: none;
  font-size: 30px;
  cursor: pointer;
}


/* Banner Section */

.banner-section {
  padding: 230px 0;
}

.banner-section .main-banner-wrapper {
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
}

.banner-section .banner-content-block {
  width: 60%;
}

.banner-section .banner-content-block h1 {
  /* font-size: 100px; */
  color: #fff;
  font-weight: 700;
  margin-bottom: 24px;
}

.banner-section .banner-content-block P {
  font-weight: 700;
  font-size: 25px;
  line-height: 55px;
}

.banner-section .banner-content-block P>span.bottom-line {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(89.03deg, rgba(0, 195, 253, 0.02) -18.33%, #00C3FD 23.35%, #0194FE 60.49%, rgba(1, 148, 254, 0) 108.53%);
  filter: drop-shadow(0px 16px 30px #003861);
  border-image-slice: 1;
  border-radius: 23.5px;
  text-transform: uppercase;
}

.banner-section .banner-image-block {
  width: 40%;
}


/* About Company */
.about-company-section {
  padding: 0 0 100px;
}

.about-company-section .main-about-comapny-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-company-section .about-image-block {
  width: calc(30% - 25px);
  margin-right: 25px;
}

.about-company-section .about-content-block {
  width: calc(70% - 25px);
  margin-left: 25px;
}

.about-company-section .about-content-block h2 {
  color: #FFFFFF;
  text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 700;
  /* font-size: 62px; */
  /* line-height: 75px; */
  margin: 0 0 118px;
}

.about-company-section .about-content-block .inner-content-block p:nth-child(1),
.about-company-section .about-content-block .inner-content-block p:nth-child(2) {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 132.8%;
  font-weight: 400;
}

.about-company-section .about-content-block .inner-content-block p:last-child {
  font-size: 23px;
  line-height: 36px;
  font-weight: 600;
}

.about-company-section .about-content-block .inner-content-block p>a {
  color: #0194FE;
  text-transform: uppercase;
  font-size: 23px;
  line-height: 36px;
  font-weight: 600;
}


/* <!-- 3 column number card --> */

.three-col-number-card-section {
  padding: 0 0 100px;
}

.three-col-number-card-section .col-heading-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}


.three-col-number-card-section .main-how-it-work-card {
  background: rgba(43, 101, 150, 0.27);
  backdrop-filter: blur(25px);
  border-radius: 50px;
  padding: 50px 62px 65px;
}

.three-col-number-card-section .how-it-work-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px;
}

.three-col-number-card-section .inner-number-content-block {
  width: calc(33.33% - 60px);
  margin: 0 30px 30px;
  text-align: -webkit-center;
}


.three-col-number-card-section .inner-number-content-block .number-bg-block h5 {
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}

/* Advantages */

.advantage-section {
  padding: 0 0 100px;
}

.advantage-section .heading-block {
  text-align: center;
}

.advantage-section .main-advantages-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 113px -30px 90px;
}

.advantage-section .inner-advantage-block {
  width: calc(33.33% - 60px);
  margin: 0 30px 30px;
  text-align: center;
}

.advantage-section .advantage-inner-content img {
  width: 60px;
  height: 2px;
  border-radius: 6px;
  margin: 10px 0 20px;
}

.advantage-section .advantage-inner-content p {
  max-width: 204px;
  margin: 0 auto;
}

.advantage-section .advantage-cta-block {
  text-align: center;
}


/* tokenomics-section */
.tokenomics-section {
  padding: 0 0 100px;
}

.tokenomics-section .heading-block {
  text-align: center;
  margin-bottom: 75px;
}

.tokenomics-section .tokenomics-main-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tokenomics-section .left-content-block {
  width: calc(50% - 20px);
  margin-right: 20px;
}

.tokenomics-section .left-content-block h4 {
  margin-bottom: 37px;
}

.tokenomics-section .left-content-block h5 {
  margin-bottom: 20px;
  font-size: 23px;
}

.tokenomics-section .left-content-block p {
  max-width: 497px;
}

.tokenomics-section .left-content-block h5>span {
  color: #01C3FD;
}

.tokenomics-section .right-structure-img {
  width: calc(50% - 20px);
  margin-left: 20px;
}


/* profit-distribution-section */

.profit-distribution-section {
  padding: 0 0 100px;

}

.profit-distribution-section .main-distribution-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profit-distribution-section .left-image-block {
  width: calc(50% - 20px);
  margin-right: 20px;
}

.profit-distribution-section .right-content-block {
  width: calc(50% - 20px);
  margin-left: 20px;
}

.profit-distribution-section .right-content-block h4 {
  margin-bottom: 35px;
}

.profit-distribution-section .right-content-block h5 {
  font-size: 23px;
  margin-bottom: 20px;
}

.profit-distribution-section .right-content-block h5>span {
  color: #01C3FD;
}

/* team slider section */
.team-slider-section {
  padding: 0 0 100px;
}
.team-slider-section .slick-slider {
  margin:0 -15px;
}
.team-slider-section .slick-slide {
  padding:10px;
  margin-right:15px;
  margin-left:15px;
}

.team-slider-section .inner-slider-team-block {
  border-radius: 30px;
  background: rgba(0, 24, 45, 0.8);
  backdrop-filter: blur(25px);
  text-align: center;
  padding: 40px;
}

.team-slider-section .inner-slider-team-block .team-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
}




/* Footer */



footer.main-footer {
  padding: 0 0 72px;
  position: relative;
}

/* footer.main-footer::before{
position: absolute;
content: url('../Images/footer-border.png');
width: 100%;
} */
.main-footer .main-footer-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-footer .footer-logo {
  width: 20%;
}

.main-footer .footer-menu {
  width: 30%;
}

.main-footer .footer-social-media {
  width: 25%;
}

/* .main-footer .footer-social-media p{margin-top: 0;} */

.main-footer .footer-button {
  width: 25%;
}

.main-footer .footer-logo img {
  max-width: 204px;
}

.main-footer .footer-menu ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.main-footer .footer-menu ul li a {
  padding: 0 5px;
}

.main-footer .footer-social-media,
.main-footer .footer-social-media ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}



.footer-social-media ul {
  width: 70%;
  padding: 0;
  margin: 0;
}

.main-footer .footer-social-media ul li {
  width: 48px;
  height: 48px;
}

.main-footer .footer-social-media ul li a img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}


.footer-bottom {
  background: linear-gradient(90deg, #000618 2.31%, #00C3FD 47.25%, #000618 99.25%);
  border-radius: 400px;
  padding: 6px 0;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000618;
}