*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  outline: none;
}
/* Website background color and default font styles */
body {
  background: #000618;
  color: #FFFFFF;
  font-family: ;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
}


.page-center {
  /* float: none !important; */
  max-width: 1171px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  	
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #FFFFFF;
  outline: 0;
}
